* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-pattern {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.music-hero {
  max-width: 320px;
  border-radius: 18px 18px 0 0;
}

.middle-body {
  background-color: white;
  margin-top: -4px;
  max-width: 320px;
  border-radius: 0 0 18px 18px;
}

.heading {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding-top: 30px;
  color: hsl(223, 47%, 23%);
}

.summary {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  font-size: 12px;
  padding: 10px 35px 0 35px;
  line-height: 1.5;
}

.btn {
  display: flex;
  padding: 16px 20px 18px 20px;
  margin: 20px 0 25px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0;
  background-color: hsl(225, 100%, 98%);
}

.icon {
  max-width: 35px;
}

.annual {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 12px;
  font-weight: 900;
  padding-bottom: 3px;
  color: hsl(223, 47%, 23%);
}

.price {
  padding-left: 14px;
}

.rate {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-top: 2px;
}

.another-rate {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  padding-left: 42px;
}

.another-rate:hover {
  color: hsl(247, 72%, 65%);
}

.payment {
  box-shadow: 4px 13px 6px hsl(225, 100%, 94%);
  color: white;
  padding: 10px 65px 10px 60px;
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: hsl(245, 75%, 52%);
  border: 0;
}

.payment:hover {
  background-color: hsl(247, 72%, 65%);
}

.cancel {
  background-color: white;
  border: 0;
  margin: 14px 0 38px 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 375px) { 
  .bg-pattern{
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }

}
